body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app{
  display: grid;
  gap: 1rem ;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "i i i i i"
  "si da . . ."
  "ul . . . ."
}

input {
  width: 500px;
  padding: 0.5rem 1rem;
  grid-area: i;
}

.btn {
  border: none;
  width: 125px;
  border-radius: 5px;
  color: white;
  background-color: #5f9341;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active{
  scale:1.05;
  transition: 100ms;
}

.save-input {
  grid-area: si;
}

.delete {
  grid-area: da;
  color: #5f9341;
  background-color: white;
  border: #5f9341 2px solid;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  grid-area: ul;
}

li {
  list-style: none;
}

a {
  color: #5f9341;
  text-decoration: none;
  text-shadow: 1px 1px lightgray;
  font-style: italic;
}

